{% extends 'myApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <h2 class="display-4 font-italic pb-4 mb-4 font-weight-bold border-bottom" style="font-family: serif; text-align: left; font-size: 50px">Edit</h2>

    {{form|crispy}}

    <hr class="mt-4 mb-4">

    <button type="submit" class="btn btn-success" style="float:right">
        <i class="fas fa-database"></i> Update
    </button>

</form>

{% endblock content %}
