{% extends 'myApp/base.html' %}

{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <h2 class="display-4 font-italic pb-4 mb-4 font-weight-bold border-bottom" style="font-family: serif; text-align: left; font-size: 50px">Edit</h2>

   <table align="center" style="width:800px">
       {{form.as_table}}
   </table>



    <hr class="mt-4 mb-4">

    <button type="submit" class="btn btn-success" style="float:right">
        <i class="fas fa-database"></i> Update
    </button>

</form>

{% endblock content %}

