{% extends 'myApp/base.html' %}
{% block content %}

    <table class="table.table.table-borderless" style="text-align:center;">
        <col style="width:30%">
	    <col style="width:30%">
	    <col style="width:30%">
        <thead class="border-bottom font-weight-bold" style="font-size: 25px">
            <tr>
                <td class="pb-3" style="font-family: 'serif'"><i class="fad fa-acorn mr-2" style="color:#795C32"></i>Squirrel ID</td>
                <td class="pb-3" style="font-family: 'serif'"><i class="fas fa-globe-americas mr-2" style="color:#795C32"></i>Latitude</td>
                <td class="pb-3" style="font-family: 'serif'"><i class="fas fa-globe-americas mr-2" style="color:#795C32"></i>Longitude</td>
               <td class="pb-3">
                    <a href="{% url 'create' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus" ></i> Add
                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for squirrel in squirrel_list %}
                <tr>
                    <td>{{squirrel.Unique_Squirrel_ID}}</td>
                    <td>{{squirrel.Latitude}}</td>
                    <td>{{squirrel.Longitude}}</td>
                    <td>
                        <a href="{% url 'update' squirrel.Unique_Squirrel_ID %}" class="btn text-secondary px-0">
                            <i class="fal fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'delete' squirrel.Unique_Squirrel_ID %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="fal fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}





