{% extends 'myApp/base.html' %}
{% block content %}

    <table class="table.table.table-borderless" style="text-align:center;">
        <col style="width:30%">
	    <col style="width:30%">
	    <col style="width:30%">
        <thead class="border-bottom font-weight-bold" style="font-size: 25px">
            <tr>
                <td class="pb-3" style="font-family: 'serif'"><i class="fad fa-acorn mr-2" style="color:#795C32"></i>Squirrel ID</td>
                <td class="pb-3" style="font-family: 'serif'"><i class="fas fa-globe-americas mr-2" style="color:#795C32"></i>Latitude</td>
                <td class="pb-3" style="font-family: 'serif'"><i class="fas fa-globe-americas mr-2" style="color:#795C32"></i>Longitude</td>
                <td class="pb-3">

                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for squirrel in squirrel_list %}
                <tr>
                    <td>{{squirrel.Unique_Squirrel_ID}}</td>
                    <td>{{squirrel.Latitude}}</td>
                    <td>{{squirrel.Longitude}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}





