{% extends 'myApp/base.html' %}
{% block content %}

<table class="table table-boderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td style="background-color:#362514; color:white; text-align:center">Most frequent age</td>
            <td style="background-color:#795C32; color:white;text-align:center">Percentage of Squirrels foraging</td>
            <td style="background-color:#362514; color:white;text-align:center">Count of Location</td>
            <td style="background-color:#795C32; color:white;text-align:center">Count of Other Activities</td>
            <td style="background-color:#362514; color:white;text-align:center">Count of Primary Fur Color</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">{{Most_frequent_age}}</td>
            <td style="text-align:center">{{P_forage}}</td>
            <td style="text-align:center">{{Count_of_Location}}</td>
            <td style="text-align:center">{{Count_of_Other_Activities}}</td>
            <td style="text-align:center">{{Count_of_Primary_Fur_Color}}</td>
        </tr>
    </tbody>
</table>


{% endblock content %}
